.scroll-content {
  background: #f8f8f8;
}

p {
  margin: 0;
  font-family: 'Open Sans', serif;
}

.header {
  font-family: 'Open Sans', serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 65px;
  color: #aeaec0;
}

.post-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.post-item-pic {
  width: calc(100% - 24px);
  margin: 0px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 9px 40px -1px rgba(65, 2, 71, 0.2);
  -moz-box-shadow: 0 9px 40px -1px rgba(65, 2, 71, 0.2);
  box-shadow: 0 9px 40px -1px rgba(65, 2, 71, 0.2);
}

.post-username {
  font-size: 18px;
  font-weight: 800;
  margin-top: 8px;
  color: #7661a5;
  text-align: left;
  padding: 0 24px;
}

.post-email {
  margin-top: -5px;
  color: #a795be;
  text-align: left;
  padding: 0 24px;
}

.post-title {
  margin-top: 16px;
  font-weight: 800;
  font-size: 19px;
  text-align: center;
  color: #7661a5;
}

.post-description {
  text-align: justify;
  font-size: 17px;
  margin-top: 8px;
  color: #aaa1be;
  padding: 0 24px;
}

.top-margin {
  margin-top: 70px;
}
