.my-card {
  display: flex;
  flex-direction: column;
}

.my-card-pic {
  width: calc(100% - 24px);
  margin: 0px auto;
  border-radius: 24px;
  box-shadow: 0 9px 40px -1px #4102474a;
}

.pic-title {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 16px;
  color: #665968;
  font-weight: 800;
}

.pic-details {
  padding: 0 20px;
  text-align: justify;
  color: #9f9ba0;
}

.top-margin {
  margin-top: 70px;
}

