page-media-feed {

  img, video {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 8px 24px rgba(42, 0, 84, 0.24);
  }

  video::-webkit-media-controls-panel {
    margin-bottom: 32px;
  }

  .video-thumbnail::before {
    content: 'video';
    display: block;
    top: 16px;
    left: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-family: 'Rubik';
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    border-radius: 8px;
    padding: 4px;
  }

  audio {
    width: 100%;
    margin-top: 16px;
  }

  audio::-webkit-media-controls-panel {
    background-color: #b9b7c3;
  }

  .audio-media {
    width: 100%;
    height: 150px;
    background-color: #b9b7c3;
    border-radius: 16px;
    box-shadow: 0px 8px 24px rgba(42, 0, 84, 0.24);
  }

  .feed-item {
    margin-bottom: 40px;
    position: relative;
  }

  .post {
    position: relative;
    background-color: white;
    border-radius: 16px;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0px 16px 40px rgba(42, 0, 84, 0.08);
    margin-top: -64px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: auto;
    border: 1px solid #e7e5f1;

    &__user-info {
      display: flex;
      margin: 16px;
      align-items: center;
    }

    &__profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ada8bc;
      background-position: center center;
      background-size: cover;
    }

    &__fullname {
      margin: 0;
      margin-left: 8px;
      font-size: 16px;
      font-weight: normal;
      color: #3e3e3e;
    }

    &__username {
      margin: 0;
      margin-left: 8px;
      font-size: 12px;
      font-weight: 500;
      color: #8b8ba0;
    }

    &__timestamp {
      margin: 0;
      color: #8b8ba0;
      font-weight: 400;
      font-size: 12px;
      flex-grow: 1;
      text-align: end;
    }

    &__info {
      margin: 16px;
      margin-bottom: 40px;
    }

    &__title {
      color: #3e3e3e;
      font-weight: normal;
      font-size: 20px;
      margin: 0;
    }

    &__description {
      color: #8b8ba0;
      font-weight: 400;
      font-size: 12px;
      margin: 0;
      margin-top: 8px;
      text-align: justify;
      line-height: 1.4;
    }
  }

  .load-trigger {
    font-family: 'Rubik';
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #8b8ba0;
    text-transform: uppercase;
  }

  .ion-header,
  .toolbar-md {
    border-radius: 0px 0px 16px 16px;
  }

  .toolbar-md {
    box-shadow: 0px 12px 40px rgba(42, 0, 84, 0.17);
  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    all: unset;
  }

  .toolbar-title {
    text-align: center;
  }

  .content-md {
    background-color: #f2f2f2;
  }

  .toolbar-background-md {
    background-color: white;
  }

  .toolbar-title-md {
    color: #55546f;
  }
}
