<!--
  Generated template for the MediaFeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="margin-top: 24px; margin-bottom: 40px;">
    <div *ngFor="let item of mediaArray" class="feed-item">
      <div
        class="post-image"
        *ngIf="
          item.mime_type === 'image/jpeg' || item.mime_type === 'image/png'
        "
        [ngStyle]="{
          'background-image':
            'url(' +
            mediaUrl +
            (item.filename | thumbnail: 'medium' | async) +
            ')'
        }"
        (click)="goToMediaPage(item)"
      ></div>

      <div
        class="post-image"
        *ngIf="item.mime_type === 'image/gif'"
        [ngStyle]="{
          'background-image':
            'url(' +
            mediaUrl +
            (item.filename | thumbnail: 'medium' | async) +
            ')'
        }"
        (click)="goToMediaPage(item)"
      ></div>

      <div
        *ngIf="item.media_type === 'audio'"
        class="audio-media"
        (click)="goToMediaPage(item)"
      >
        <audio controls [src]="mediaUrl + item.filename"></audio>
      </div>

      <div
        *ngIf="item.media_type === 'video'"
        class="video-thumbnail post-image"
        [ngStyle]="{
          'background-image':
            'url(' +
            mediaUrl +
            (item.filename | thumbnail: 'medium' | async) +
            ')'
        }"
        (click)="goToMediaPage(item)"
      ></div>

      <section class="post">
        <div class="post__user-info">
          <div
            class="post__profile-pic"
            [ngStyle]="{
              'background-image':
                'url(' + mediaUrl + getProfilePic(item.user_id) + ')'
            }"
            (click)="goToProfile(item.user_id)"
          ></div>
          <p class="post__username" (click)="goToProfile(item.user_id)">
            {{ getUsername(item.user_id) }}
          </p>
          <span class="post__timestamp">{{
            item.time_added | date: 'fullDate'
          }}</span>
        </div>

        <div
          class="post__info"
          (click)="speakTitle(item.title + ' ' + item.description)"
        >
          <p class="post__title">{{ item.title }}</p>
          <p class="post__description">{{ item.description }}</p>
        </div>
      </section>
    </div>

    <div #loadTrigger class="load-trigger">
      <p>{{ feedStatus }}</p>
    </div>
  </ion-list>
</ion-content>

<!-- <ion-item *ngFor="let item of mediaArray">
  <ion-thumbnail item-start *ngIf="item.media_type === 'image'">
    <img
      *ngIf="item.mime_type !== 'image/gif'"
      [src]="(mediaUrl + (item.filename | thumbnail: 'small' | async))"
      (click)="speakTitle(item.title + ' ' + item.description)"
    >
    <img
      *ngIf="item.mime_type === 'image/gif'"
      [src]="(mediaUrl + item.filename)"
      (click)="speakTitle(item.title + ' ' + item.description)"
    >
  </ion-thumbnail>

  <audio
    controls
    [src]="mediaUrl + item.filename"
    *ngIf="item.media_type === 'audio'"
    style="width: 100%"
  ></audio>

  <h2>{{ item.title }}</h2>
  <p>{{ item.time_added | date: 'shortDate' | uppercase }}</p>
  <p>{{ item.description }}</p>
  <button
    *ngIf="item.media_type === 'image'"
    ion-button
    clear
    item-end
    (click)="showImage(item.filename)"
  >
    View
  </button>
</ion-item> -->
