<ion-header>
  <ion-navbar>
    <ion-title align-title="center">profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section class="profile-card">
    <div class="profile-card__avatar-and-username">
      <div
        class="avatar"
        [ngStyle]="{
          'background-image':
            'url(' + mediaUrl + (avatarUrl | thumbnail: 'small' | async) + ')'
        }"
      ></div>

      <div class="username-wrapper">
        <p class="label">{{ profileInfo?.username }}</p>
        <p class="username">
          {{ profileInfo?.full_name ? profileInfo?.full_name : 'No Full Name' }}
        </p>
      </div>
    </div>

    <div class="userid-wrapper">
      <p class="label">userid</p>
      <p>{{ profileInfo?.user_id }}</p>
    </div>

    <div class="email-wrapper">
      <p class="label">email</p>
      <p>{{ profileInfo?.email }}</p>
    </div>
  </section>

  <ul class="media-grid">
    <li
    class="grid-item"
      *ngFor="let post of userMedia"
      [ngStyle]="{
        'background-image':
          'url(' + mediaUrl + (post.filename | thumbnail: 'small' | async) + ')'
      }"
    ></li>
  </ul>

  <!-- <ion-list>
    <ion-item *ngFor="let item of userMedia">
      <img [src]="mediaUrl + (item.filename | thumbnail: 'small' | async)">
    </ion-item>
  </ion-list> -->
</ion-content>
