<ion-header>
  <ion-navbar>
    <ion-title align-title="center">profile</ion-title>
    <ion-buttons end>
      <button ion-button small color="danger" (click)="onLogout()">
        LOGOUT
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item>
    <ion-thumbnail>
      <img *ngIf="avatarUrl !== 'loading'" [src]="mediaUrl + (avatarUrl | thumbnail: 'large' | async)">
    </ion-thumbnail>
  </ion-item> -->

  <div
    class="avatar"
    *ngIf="avatarUrl !== 'loading'"
    [ngStyle]="{ 'background-image': 'url(' + mediaUrl + avatarUrl + ')' }"
  ></div>

  <h2>Hello {{ fullname }}</h2>
  <p>userid: {{ userid }}</p>
  <p>username: {{ username }}</p>
  <p>email: {{ email }}</p>
</ion-content>
