<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section class="profile-card">
    <div class="profile-card__avatar-and-username">
      <div
        class="avatar"
        [ngStyle]="{
          'background-image':
            'url(' + mediaUrl + (avatarUrl | thumbnail: 'small' | async) + ')'
        }"
      ></div>

      <div class="username-wrapper">
        <p class="label">{{ profileInfo?.username }}</p>
        <p class="username">
          {{ profileInfo?.full_name ? profileInfo?.full_name : 'No Full Name' }}
        </p>
      </div>
    </div>

    <div class="userid-wrapper">
      <p class="label">userid</p>
      <p>{{ profileInfo?.user_id }}</p>
    </div>

    <div class="email-wrapper">
      <p class="label">email</p>
      <p>{{ profileInfo?.email }}</p>
    </div>
  </section>

  <ul class="media-grid">
    <li
      class="grid-item"
      *ngFor="let post of userMedia; let i = index"
      (click)="onItemClick(post, i)"
    >
      <div
        *ngIf="
          post.mime_type === 'image/jpeg' || post.mime_type === 'image/png'
        "
        [ngStyle]="{
          'background-image':
            'url(' +
            mediaUrl +
            (post.filename | thumbnail: 'small' | async) +
            ')'
        }"
      ></div>
      <div
        *ngIf="post.mime_type === 'image/gif'"
        [ngStyle]="{
          'background-image': 'url(' + mediaUrl + post.filename + ')'
        }"
      ></div>
      <div
        *ngIf="post.media_type === 'video'"
        [ngStyle]="{
          'background-image':
            'url(' +
            mediaUrl +
            (post.filename | thumbnail: 'small' | async) +
            ')'
        }"
        class="video-thumbnail"
      ></div>
      <div *ngIf="post.media_type === 'audio'" class="audio-thumbnail"></div>
      <!-- <ion-icon *ngIf="editEnabled" name="trash" class="delete-icon"></ion-icon> -->
    </li>
  </ul>
</ion-content>
