<ion-header>
  <ion-navbar>
    <ion-title>Edit Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img
    *ngIf="
      postData.mime_type === 'image/jpeg' || postData.mime_type === 'image/png'
    "
    [src]="mediaUrl + (postData.filename | thumbnail: 'medium' | async)"
  />
  <img
    *ngIf="postData.mime_type === 'image/gif'"
    [src]="mediaUrl + postData.filename"
  />
  <div *ngIf="postData.media_type === 'audio'" class="audio-media">
    <audio controls [src]="mediaUrl + postData.filename"></audio>
  </div>

  <div *ngIf="postData.media_type === 'video'" class="video-thumbnail">
    <video
      [poster]="mediaUrl + (postData.filename | thumbnail: 'medium' | async)"
      [src]="mediaUrl + postData.filename"
      autoplay
      controls
      loop
    ></video>
  </div>

  <section class="post">
    <div class="post__info">
      <ion-item>
        <ion-label floating>title</ion-label>
        <ion-input
          [(ngModel)]="newPostInfo.title"
          type="text"
          (input)="checkIsInfoChanged()"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>descritpion</ion-label>
        <ion-input
          [(ngModel)]="newPostInfo.description"
          type="text"
          (input)="checkIsInfoChanged()"
        ></ion-input>
      </ion-item>

      <button
        ion-button
        block
        round
        margin-top
        [disabled]="!infoChanged"
        (click)="updatePostInfo()"
      >
        update
      </button>
    </div>
  </section>
</ion-content>
